.contributions .contribution {
  background-color: #f8f9ff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  flex-grow: 1;
}

.contributions .contribution+.contribution {
  margin-top: 5px;
}

.contributions .contribution .header {
  background-color: #fff;
  padding: 7px;
  display: flex;
  align-items: center;
}

.contributions .contribution .header .avatar {
  margin-right: 5px;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #00000011;
}

.contributions .contribution .header .heading {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  margin: 0;
}
.contributions .contribution .header .options {
  font-size: 49px;
  line-height: 1px;
  cursor: pointer;
  user-select: none;
  justify-self: start;
  align-self: flex-start;
  flex-grow: 1;
  text-align: right;
  margin: 0;
}

.contributions .contribution .header .ago {
  color: #969ca2;
  font-size: 17px;
  margin: 0;
}

.contributions .contribution .desc {
  color: gray;
  padding: 35px 20px 20px;
}

.contributions .contribution .desc .fullDesc {
  font-size: 24px;
  line-height: 1.4;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}

.contributions .contribution .desc .footer {
  display: flex;
  justify-content: space-between;
}

.contributions .contribution .desc .footer .stats {
  color: #aaa;
  font-size: 18px;
}

.contributions .contribution .desc .footer .stats>* {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
}

.contributions .contribution .desc .footer .stats>*+* {
  margin-left: 20px;
}

.contributions .contribution .desc .footer .stats>*.views {
  background-image: url('./img/icon-eye.png');
}

.contributions .contribution .desc .footer .stats>*.shares {
  background-image: url('./img/icon-share.png');
}

.contributions .contribution .desc .footer .stats>*.comments {
  background-image: url('./img/icon-comment.png');
}

.contributions .contribution .desc .footer .actions .action {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.contributions .contribution .desc .footer .actions .action+.action {
  margin-left: 43px;
}

