.left-side-bar{
    margin-right: 10px;
    min-height: 100vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 1px 0 2px #e6e6e6;
    border-left: none;
}

.left-side-bar .side-bar-logo{
    padding-top: 30px;
    margin-bottom: 40px;
    padding-left: 5px;
    cursor: pointer;
}
.left-side-bar .side-bar-logo:hover{
    opacity: 0.9;
    transform: scale(1.05);
    padding-left: 10px;
    transition: all 0.1s ease-out;
   }
.left-side-bar .side-bar-items{
    margin-left: 10px;
}
.left-side-bar .side-bar-item{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.left-side-bar .side-bar-item:hover{
 opacity: 0.9;
 transform: scale(1.05);
 transition: all 0.1s ease-out;
}