.searchForm {
    position: relative;
    flex-grow: 1;
    margin: 0 2rem 0;
    @media only screen and (max-width: 576px) { // collapsed
        margin: 2rem 0;
    }
    input {
        background-color: #FFF;
        width: 100%;
        border:none;
        border-radius: 10px;
        padding: 10px 15px;
        box-shadow: 3px 7px 3px #b7b7b7a3;
        &:hover {
            opacity: 1;
        }
        &:focus {
            outline: none;
            opacity: 1;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #3b5eff;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #3b5eff;
          }
          
          &::-ms-input-placeholder { /* Microsoft Edge */
            color: #3b5eff;
          }

    }
    .searchIcon {
        position: absolute;
        cursor: pointer;
        top: calc(50% - 12.5px);
        right: 10px;
        img {
            height: 25px;
        }
    }
}

.profilePicture {
    width: 4.2%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .5rem;
    img {
        width: 100%;
    }
    @media only screen and (max-width: 800px) { // collapsed
        width: 6.5%;
    }
    @media only screen and (max-width: 576px) { // collapsed
        display: inline-block;
        width: 12.5%;
        vertical-align: text-bottom;
        margin-left: calc((100% - (25% + .5rem)) / 2);
    }
}
.plus {
    width: 4.2%;
     img {
         width: 100%;
     }
     @media only screen and (max-width: 800px) { // collapsed
        width: 6.5%;
    }
    @media only screen and (max-width: 576px) { // collapsed
        display: inline-block;
        width: 12.5%;
        display: inline-block;
        vertical-align: text-bottom
    }
}


